<!--

body,td,th {font-family: ו;font-size: 10pt;color: #222222;}

body {margin-left: 0px;margin-top: 4px;margin-right: 0px;margin-bottom: 2px;background-color: #FFFFFF;line-height:22px;}

a:link {color: #222;text-decoration: none;}

a:visited {text-decoration: none;color: #222222;}

a:hover {text-decoration: underline;color: #FF0000;}

a:active {text-decoration: none;color: #999999;}

-->